<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MRT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>93DD63AF1E0BED8D005908C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93DD63C31E0BED8D005908C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93DD63CE1E0BED8D005908C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
